CREATE TABLE {{ name|lower }} (
{%- match id %}
  {%- when IDType::Uuid %}
  id UUID NOT NULL PRIMARY KEY DEFAULT (uuid_generate_v4()),
  {%- when IDType::Integer %}
  id SERIAL PRIMARY KEY,
  {%- when IDType::None %}
{%- endmatch %}
{%- for row in rows %}
  {{ row }},
{%- endfor %}
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

SELECT diesel_manage_updated_at('{{ name|lower }}');
